/* esercizio 1  */
.ex-1-square{
    background-color: white;
    transition: background-color 3s;
}
.ex-1-square:hover{
    background-color: red;
}
/* esercizio 2 */
.ex-2-square{
    transition: press;
}